/* Mobile */

@media screen and (max-width: 768px)
{
    
    body
    {
        width: 100%;
    }
    
    #contenu
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    
    /* Header */
    
    header
    
    #header_largescreens
    {
       height: 70px;
        margin-bottom: 30px;
        justify-content: space-around;
    }
    
    nav
    {
        display: none;
    }
    
    #nav_mobile
    {
        margin-top: 20px;
        display: contents;
        display: flex;
        justify-content: space-around;
    }
    
    #nav_mobile a
    {
        width: 50%;
        text-align: center;
        border-bottom: 2px solid #F2F2F2;
        padding-bottom: 10px;
        
    }
    
    #nav_mobile a:hover
    {
        border-bottom: 2px solid;
        color: #0065FC;
        font-weight: bold;
        padding-bottom: 10px;
    }
    
    
    
    
    
    
    /* Section 2 */
    
    #section2
    {
        height: 1060px;
        display: flex;
        flex-direction: column-reverse;
    }
    
    #section2_article, aside
    {
        width: 100%;
        border-radius: 0;
    }
    
    #section2_article
    {
        background-color: white;
    }
    
    
    
    
    
    
    
    /* Footer */
    
    footer
    {
        
        height: auto;
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        flex-direction: column;
    }
    
    .footer_element
    {
        width: 100%;
        padding-top: 0px;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    
    
    
}