/* Eléments généraux */

body
{
    font-family: 'raleway', sans-serif;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}


#contenu
{
    width: 90%;
    margin: auto;
}

i /* icones */
{
    color: #0065FC;
}

a
{
    color: black;
    text-decoration: none;
}

a:hover
{
    text-decoration: none;
}






/* Header */

header
{
    margin-bottom: 20px;
}

#header_largescreens
{
    height: 100px;
    display: flex;
    align-items: flex-end;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#nav_mobile
{
    display: none;
}

#actions
{
    display: flex;
    flex-direction: row;
}

#logoreservia
{
    width: 25%;
}

nav
{
    height: 50px;
    margin-right: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a
{
    height: 100%;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav a:hover
{
    border-top: 1px solid;
    color: #0065FC;
    font-weight: bold;
}

#inscription
{
    font-weight: bold;
    color: #0065FC;
    display: flex;
    align-items: center;
}










/* Section1 */

span
{
    font-weight: bold;
    font-size: 1.2em;
}

#intro_section1 p
{
    margin-top: 5px;
}

/* Section1 ----- Formulaire */

form p
{
    height: 40px;
    margin-bottom: 20px;
}

#iconlocation
{
    
    color: black;
    height: 40px;
    margin-right: 0;
    background-color: #F2F2F2;
    vertical-align: middle;
}

#location
{
    height: 100%;
    border-color: #F2F2F2;
    margin-right: 0;
    margin-left: 0;
    font-family: 'raleway', sans-serif;
}

.button
{
    font-family: 'raleway', sans-serif;
    background-color: #0065FC;
    background-color: #0065FC;
    color: white;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    height: 100%;
    text-align: center;
    margin-left: 0;
}


/* Section1 ----- Filtre */

.filtres
{
    margin-bottom: 20px;
}

.filtres i
{
    vertical-align: middle;
    width: 30px;
    height: 30px;
    background-color: #DEEBFF;
    border-radius: 100%;
    text-align: center;
    display: table-cell;
}

.filtres a
{
    border: 2px solid #F2F2F2;
    border-radius: 10px;
    height: 30px;
}

#disponibilite
{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#disponibilite i
{
    width: 30px;
    height: 30px;
    margin-right: 8px;
    border: 2px solid #F2F2F2;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}






/* Section2 */

#section2
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
}

#section2 h2
{
    font-size: 1.1em;
    margin-top: 20px;

}

#section2_article, aside
{
    background-color: #F2F2F2;
    border-radius: 25px;
}

/* Section2 ----- Article */

#section2_article
{
    width: 67%;
}


#section2_article_hebergement
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 80%;
}

#section2_article h2, #afficherplus
{
    margin-left: 20px;
}


.hebergement_element
{
    width: 28%;
    height: 40%;
    background-color: white;
    border-radius: 25px;
    border: 3px solid white;
    box-shadow: 0px 0px 5px lightgrey;
    
}

.hebergement_element a img
{
    height: 60%;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}

.hebergement_element_text
{
    height: 40%;
    font-size: 0.8em;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergement_element_description h4
{
    margin-bottom: 3px;
    margin-top: 0px;
}

.hebergement_element_description p
{
    margin-top: 0px;
    margin-bottom: 5px;
}

.hebergement_stars
{
    margin-bottom: 7px;
    font-size: 0.9em;
}

#afficherplus
{
    font-weight: bold;
}










/* Section2 ----- Aside */

aside
{
    width: 28%;
}

#populaire
{
    display: flex;
    align-items: left;
    justify-content: space-around;
    align-items: baseline;
}

#populaire i
{
    color: black;
    font-size: 15px;
    display: flex;

}

#aside_group
{
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aside_element
{
    height: 33%;
    display: flex;
    justify-content: center;
}

.aside_element a
{
    width: 80%;
    display: flex;
    flex-direction: row;
    background-color: white;
    margin-bottom: 20px;
    border-radius: 25px;
    border: 4px solid white;
    box-shadow: 0px 0px 5px lightgrey;
}

aside img
{
    width: 40%;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.aside_element_text
{
    font-size: 0.8em;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.aside_element_description h4
{
    margin-bottom: 3px;
    margin-top: 8px;
}

.aside_element_description p
{
    margin-top: 0px;
}

.stars
{
    margin-bottom: 7px;
    font-size: 0.9em;
}









/* Section3 */

#section3
{
    height: auto;
    margin-bottom: 30px;
}

#section3_activites
{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.activites_element
{
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9em;
}

.activites_element a
{
    width: 85%;
    border-radius: 25px;
    box-shadow: 0px 0px 5px lightgrey;
}

.activites_element h4
{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 10%;
}

.activites_element img
{
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}







/* Footer */

footer
{
    background-color: #F2F2F2;
    width: 100%;
    margin: 0;
    height: 180px;
    font-size: 0.80em;
    display: flex;
    justify-content: center;
}

.footer_element
{
    width: 32%;
    padding-top: 20px;
}

.footer_element ul
{
    list-style-type: none;
    padding: 0;
}

.footer_element ul li
{
    margin-bottom: 5px;
}








